* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(97,205,172);
    background: linear-gradient(0deg, rgba(97,205,172,1) 0%, rgba(158,255,225,1) 100%);
}

.errorMsg {
    text-align: center;
    width: 100%;
    background-color: #ffbaba;
    color: rgba(204, 0, 0, 1);
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
    font-size: 1.6rem;
    margin: 8px;
}

.main-msg {
    margin-bottom: 40px;
    color: #808080;
}

.file-list {
    width: 70%;
    margin-top: 20px;
    background-color: #ededed;
    border-radius: 5px;
    border: 1px solid #808080;
    color: #808080;
    list-style-type: none;
    padding: 10px 30px;
    font-size: 0.9rem;
}

.file-list li::before {
    content: '📄 ';
}
form {
    text-align: center;
}
.input-file {
    max-width: 70%;
}
.input-file::file-selector-button {
    padding : 5px 15px;
}
.submit-btn {
    max-width: 30%;
    margin-top : 20px;
    padding : 5px 30px;
}

@media only screen and (max-width : 768px) {
    main {
        min-height: 90vh;
        width : 100vw;
        max-width: 100vw;
        border-radius: 0px;
        justify-content: center;
    }
    main img {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 120px;
    }
    .title {
        font-size: 2rem;
    }
    form {
        text-align: center;
    }

    .input-file::file-selector-button {
        padding : 20px 30px;
    }
    .submit-btn {
        margin-top : 20px;
        padding : 20px 60px;
    }
    .file-list {
        width: 100%;
    }
}